html, body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/image2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff !important;
    
}

.logo {
    height: 60px;
    margin-top: 30px;
}

.welcome-text {
    margin: 90px auto;
}

h1 {
    text-transform: uppercase !important;
    font-family: sans-serif !important;
    font-weight: bolder !important;
    font-size: 72px !important;
    letter-spacing: 4px;
}

.description {
    margin-top: 50px;
    letter-spacing: 2px;
}

.form-control {
    margin: 30px;
    border-radius: 0px !important;
    background-color: transparent !important;
    color: #fff !important;
}

.subscribe {
    background-color: #fff;
    color: #000;
    border: none;
    width: 120px;
    height: 30px;
    margin: 10px auto;
    display: block;
}

.subscribe:hover {
    background: #00fbff;
    transition: 0.5s;
}

.social {
    margin-top: 60px;
    float: right;
    
}

ul li {
    display: inline-block;
    padding: 10px;
}

a .fa {
    color: #ccc;
    font-size: 20px;
    
}

a .fa:hover {
    color: #00fbff;
    font-size: 20px;
}

